# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9ee351df2d80df3cdd354aa49170591892da3e036f11d80af0745eb0a1bdc4675a44d8e1602fcd45f7054155635b7470e45207c3a3fb0cccec7a86b63b7d577a

test:
  secret_key_base: 31f408e886f959c2d5f16251c0679be11c7f3c6333eb3c00704f6a0808d81a159a4468ca6a9bbb3392501b75dc3bd65655c9d6e0f9b4cbbfc61c40a264e63076

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
